@import 'base';
@import '/react-datepicker/dist/react-datepicker.min.css';
// @import '../../../../node_modules/hint.css/src/hint.scss';

$z-index-hosts: 100;
$z-index-article-summary: $z-index-hosts * 2;

body {
  &.summary-open {
    overflow: hidden;
  }
}


.dashboard-control {
  @include row();

  .control-container {
    @include span-columns(6);

    & > div {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 50%;
      }
    }
    &.left {
      & > div {
        margin-right: 0;
        margin-left: auto;
      }
    }

    &.right {
      & > div {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  .hosts {
    // @include span-columns(12);
    position: relative;
    float: none !important;
    z-index: $z-index-hosts;

    @media (min-width: $screen-md) {
      // @include span-columns(2);
    }

    .toggle {
      cursor: pointer;
      border: 1px solid #eee;
      background-color: $info-color;
      color: white;
      text-align: center;
      height: 20px;
    }

    .host-dropdown {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 20px;
      width: 100%;

      &.show {
        display: block;
      }

      .host {
        @include row();
        background-color: $primary-color;
        color: white;
        padding: 10px;
        text-align: center;
        border: 1px solid #eee;

        &:hover, &.active {
          color: $info-color;
          background-color: white;
        }
      }
    }
  }
}

.host-dashboard {

  .dashboard-selector {
    @include outer-container();
    height: 50px;
    margin-bottom: 10px;

    .dashboard-option {
      @include span-columns(4);
      height: 100%;
      background-color: white;
      color: $primary-color;
      text-align: center;
      line-height: 50px;
      vertical-align: middle;
      cursor:pointer;
      @include transition(backround-color 200ms ease-in);

      &:hover, &.selected {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

$zindex-article-series: -1;
.dashboard-item {
  @include outer-container();
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 10px;
  cursor: pointer;
  height: 100px;

  .side-stats, .main-panel {
    z-index: $zindex-article-series + 5;

    & > div {
      @include row();
      padding: 5px 0px;
    }

    & * {
      z-index: inherit;
    }
  }

  .rank {
    @include span-columns(1);
    color: white;
    background-color: $primary-color;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 35px;
  }

  .side-stats {
    @include span-columns(3);
    height: 100%;
  }

  .main-panel {
    @include span-columns(8);
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 100px;
    vertical-align: middle;
    font-size: 15px;
    white-space: nowrap;

    @media (min-width: $screen-md) {
      font-size: 30px;
    }

    .title {
      color: $primary-color;
      display: inline;
    }

  }

  .series-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-article-series;

    .point {
      background-color: rgba(#2D882D, .1);
      display: inline-block;
      z-index: inherit;
      position: absolute;
    }
  }
}


.article-summary {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: $z-index-article-summary;

  &.closed {
    display: none;
  }

  .article-summary-container {
    // @include outer-container();
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 75%;
    overflow-y: auto;
    overflow-x: visible;
    background: #eee;
    z-index: $z-index-article-summary;
    margin: 0 12.5%;

    & > div {
      @include row();
    }

    .title {
      text-align: center;
      font-size: 40px;
    }

    .summary {

      & > div {
        @include span-columns(6);
      }

      .notes {
        // @include outer-container();

        .note {
          @include row();
        }
      }
    }

    .referrals {
      & > div {
        @include row();
      }
    }
  }

  .overlay {
    background-color: rgba(grey, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-article-summary - 1;
  }

  .series {
    height: 200px;

    .series-data {
      height: 100%;
      width: 100%;
      position: relative;

      .point {
        background-color: rgba(#2D882D, .9);
        display: inline-block;
        z-index: inherit;
        position: absolute;
      }
    }
  }

  #percentages {
    height: 400px;
    overflow: visible;

    svg {
      overflow: visible;
      width: 100%;
      height: 100%;
    }

    path.slice{
      stroke-width:2px;
    }

    polyline{
      opacity: .3;
      stroke: black;
      stroke-width: 2px;
      fill: none;
    }
  }
}

// For common stuff between article and article-summary
.social-shares {
  @include outer-container();
  & > div {
    // @include row();
    text-align: center;

    // @media (min-width: $screen-sm) {
      @include span-columns(6);
    // }
  }

  .fa {
    margin-right: 10px;
  }

  .fa-facebook {
    color: $facebook-blue;
  }

  .fa-twitter {
    color: $twitter-blue;
  }
}

.value {
  width: 100%;
  text-align: center;

  .fa {
    margin: 0px 5px;
  }

  &.up {

    .delta {
      color: $success-color;

      .fa-caret-down {
        display: none;
      }
      .fa-caret-up {
        display: inline-block;
      }
    }
  }

  &.down {
    .delta {
      color: $danger-color;

      .fa-caret-down {
        display: inline-block;
      }
      .fa-caret-up {
        display: none;
      }
    }
  }
}