@import 'base.scss';

$z-index-article-summary: 2;
$z-index-page-overlay: $z-index-article-summary - 1;

body {
  // color: $primary-color;
}

a, a:visited, a:active, a:hover {
  color: $primary-color;
}

.content-container {
  @include outer-container();
  .summary {
    @media (max-width: $screen-md) {
      @include row();
    }

    @media (min-width: $screen-md) {
      @include span-columns(2);
    }
    .total-readers {
      @include row();

      div {
        @include span-columns(6);
      }
    }
  }

}
$article-height: 50px;
$article-border: 1px;
.articles {
  position: relative;
  @media (max-width: $screen-md) {
    @include row();
  }

  @media (min-width: $screen-md) {
    @include span-columns(9);
  }
  // margin: 0 10%;

  .article-container {
    height: $article-height;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      padding-right: 10%;
      padding-left: 10%;
    }

    .article {
      position: relative;
      width: 100%;
      height: $article-height + $article-border;
      border: 1px solid #eee;
      cursor: pointer;

      &:hover {

      }

      .readers {
        text-align: center;
        padding: 5px;
        background: $danger-color;
        color: #eee;
        height: 100%;
        padding: 10px;
        font-size: 20px;
        @include span-columns(2);
      }

      .article-title {
        @include span-columns(10);

        .title {
          @include row();

          max-height: $article-height;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .authors {
          @include row();
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:before {
            content: 'By ';
          }
        }
      }
    }
  }
}

#summary-container {
  $container-padding: 2%;
  position: fixed;
  top: 0;
  left: 102%;
  height: 100%;
  min-height: 500px;
  overflow-x: scroll;
  width: 100%;
  background: #eee;
  min-height: 500px;
  box-shadow: 0 0 1em black;
  padding: $container-padding;
  z-index: $z-index-article-summary;
  @include outer-container();

  @media (min-width: $screen-sm) {
    width: 50%;
  }


  .article-summary {
    position: relative;
    height: 100%;

    // State
    &.loaded {
      .article-info {
        display: block;
      }
      .article-loading {
        display: none;
      }
    }
    &.loading {
      .article-info {
        display: none;
      }
      .article-loading {
        display: block;
      }
    }

    .article-loading {
      width: 100%;
      height: 100%;
      padding-top: 25%;
      text-align: center;
      vertical-align: middle;
    }

    .article-info {
      height: 100%;
      position: relative;
      @include outer-container();

      .article-image, .title, .summary-container, .article-loading {
        @include row();
      }

      .article-image {
        height: 20%;
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: $screen-md) {
          height: 30%;
        }

        img {
          max-width: 50%;
          max-height: 100%;
          box-shadow: 1px 1px 5px #c8c8c8; // Taken from gannett site
        }
      }

      .title {
        // height: 10%;
        margin: 20px 0px;
        font-size: 30px;
        font-family: helvetica,arial,sans-serif;
      }

      .article-stats {
        // height: 5%;
        @include outer-container();

        div {
          @include span-columns(4);
        }

        .readers {
          background: $danger-color;
          color: white;
        }

        .date {
          font-style: italic;
          color: grey;
        }
      }

      .summary-container {
        margin: 20px 0px;
        max-height: 40%;
        overflow: hidden;
        position: relative;

        .overflow-shadow {
          position: absolute;
          bottom: -1px;
          width: 100%;
          height: 1px;
          box-shadow: 0 0 1em 2px black;
        }
      }
    }
  }

  .close-summary {
    position: absolute;
    top: 0px;
    right: 5px;
    color: black;
    cursor: pointer;
    z-index: $z-index-article-summary;
  }
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  // opacity: 0;
  display: none;
  background: rgba(#000, .3);
  width: 100%;
  height: 100%;
  z-index: $z-index-page-overlay;
}

.button-container {
  width: 100%;
  text-align: center;

  &.center {

  }
}

.button {
  text-align: center;
  padding: 15px;
  text-decoration: none;

  &.primary {
    background: $primary-color;
    color: white;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
  &.info {
    background: $info-color
  }
}