extends ./layout

block js
  script(src='/js/article-loyalty.js')

block css
  link(href='/css/article-loyalty.css', rel='stylesheet')

block content
  h1.splainer Which Articles Attract Which Readers?
  #article-loyalty
