extends layout

block js
  script(src='/js/authors.js')

block css
  link(href='/css/authors.css', rel='stylesheet')

block content
  .text-center
    h1 Which Writers Are Building An Audience Right Now?
    h3 Each block is proportional to the size of each byline's total real-time readers
  #author-treemap.text-center
  #modal
    #close-modal
    #modal-body


