extends layout

block js
  script(src='/js/dist/big-picture.js')

block css
  link(href='/css/big-picture.css', rel='stylesheet')

block content
  h1 Big Picture

  .articles
    #article-0.article-container
    #article-1.article-container
    #article-2.article-container
    #article-3.article-container

  #summary-container

  .page-overlay