extends layout

block js
  script(src='/js/dist/big-picture.js')

block css
  link(href='/css/big-picture.css', rel='stylesheet')

block content
  .articles
    #article-0.article-container
      .article-loading
        .fa.fa-spinner.fa-spin
    #article-1.article-container
      .article-loading
        .fa.fa-spinner.fa-spin
    #article-2.article-container
      .article-loading
        .fa.fa-spinner.fa-spin
    #article-3.article-container
      .article-loading
        .fa.fa-spinner.fa-spin

  #summary-container

  .page-overlay