extends ./layout

block content
  #cities
  #title
    h1 City By City
    h3 Where are they when they find us? You might be surprised.
    #legend
      .source#freep
        .swatch
        p Detroit Free Press
      .source#detnews
        .swatch
        p The Detroit News
      .source#lsj
        .swatch
        p Lansing State Journal
      .source#pth
        .swatch
        p Port Huron
      .source#bce
        .swatch
        p Battle Creek
      .source#liv
        .swatch
        p Livingston Daily
      .source#oe
        .swatch
        p Observer & Eccentric

block js
  script(src='/js/cities.js')

block css
  link(href='/css/cities.css', rel='stylesheet')
