extends ./layout

block content
  #cities
  #title
    h1 City By City
    h3 Where are they when they find us? You might be surprised.
    #legend
      .source
        .swatch.freep
        p Detroit Free Press
      .source
        .swatch.detroitnews
        p The Detroit News
      .source
        .swatch.lansingstatejournal
        p Lansing State Journal
      .source
        .swatch.thetimesherald
        p The Times Herald
      .source
        .swatch.battlecreekenquirer
        p Battle Creek Enquirer
      .source
        .swatch.livingstondaily
        p Livingston Daily
      .source
        .swatch.hometownlife
        p Hometownlife

block js
  script(src='/js/cities.js')

block css
  link(href='/css/cities.css', rel='stylesheet')
