extends ./layout

block content
  #cities
  #title
    h1 City By City
    h3 Where are they when they find us? You might be surprised.
    #legend

block js
  script(src='/js/cities.js')

block css
  link(href='/css/cities.css', rel='stylesheet')
