extends layout

block js
  script(src='/js/daily-perspective.js')

block css
  link(href='/css/daily-perspective.css', rel='stylesheet')

block content
  h1 Daily Perspective

  #dashboard

  #article-summary
