extends layout

block content
  .row
    .col-md-12
      #engage_data.col-md-12
        .col-md-12.shuffle__sizer
    hr
    h2 This is the running average time for active users — seconds spent reading & commenting. How do we increase engaged time?

  script(src='/javascripts/dist/engage.js', type='text/javascript')
