extends layout

block content
  h1(style='text-align: center;')  Dashboards
  div(style='text-align: center;')
    each obj in links
      a(href=obj.href, style='text-transform: capitalize')= obj.text
      br
