doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='refresh', content='14400')

    title= title

    block css
    link(href='/css/' + market + '.css', rel='stylesheet')
  body
    block content
    block js
