extends layout

block js
  script(src='/js/dist/popular.js', type='text/javascript')

block hbs
  script(id='article-template', type='text/x-handlebars-template').
    <div class='article'>
      <span>{{ visits }}</span>
      <span><a href="http://{{ path }}" target='_blank'>{{ title }}</a></span>
    </div>

block content
  h1= title
  h3 Most Popular Stories

  ul.articles