extends layout

block css
  link(href='/css/popular.css', rel='stylesheet')

block content
  .container.header
    .row.text-center
      h1= title
    //- .row.text-center
    //-   h3 Most Popular Stories
    .row
      .col-md-6.col-sm-6.col-xs-6.text-right Total Readers
      #total-readers.col-md-6.col-sm-6.col-xs-6 0

  .container.articles

  #summary-container.article-summary.container-fluid


block js
  script(src='/js/dist/popular.js')