extends layout

block css
  link(href='/css/popular.css', rel='stylesheet')

block content
  h1= title
  h3 Most Popular Stories

  .container.articles

  script(src='/js/dist/popular.js', type='text/javascript')