extends layout

block css
  link(href='/css/popular.css', rel='stylesheet')

block content
  h1 Popular Articles
  .container.header
    .text-center
      h1= title
    //- .row.text-center
    //-   h3 Most Popular Stories
    .total-readers
      .text-right Total Readers
      #total-readers 0

  .container.articles

  #summary-container

  .page-overlay


block js
  script(src='/js/dist/popular.js')