extends layout

block css
  link(href='/css/popular.css', rel='stylesheet')

block content
  h1 Popular Articles

  .content-container
    .summary
      .total-readers
        .text-right Total Readers
        #total-readers 0
    #articles

  #summary-container

  .page-overlay


block js
  script(src='/js/popular_n.js')
