extends ./layout

block js
  script(src='/js/recirculation.js')

block css
  link(href='/css/recirculation.css', rel='stylesheet')

block content
  #dashboard
    h1.first What percentage of current digital users are engaging with #[em more than one] story?
    #gauge
    h1.second How can we improve this percentage?
