extends layout

block css
  link(href='/css/referrers.css', rel='stylesheet')

block js
  script(src='/js/dist/referrers.js', type='text/javascript')

block content
  h1 Top Referrers

  svg.referrers