extends layout

block css
  //link(href='/css/popular.css', rel='stylesheet')

block content
  h1 Supervisord

  .content-container
    each proc in procs
      h2= proc.name + ': ' + proc.statename
      p= proc.description

      hr
  .page-overlay


block js
  //script(src='/js/popular.js')
