extends ./layout

block js
  script(src='/js/test-socket.js')

block css
  link(href='/css/test-socket.css', rel='stylesheet')

block content
  .snapshots
    .snapshot-container#toppages
    .snapshot-container#quickstats
    .snapshot-container#topgeo
    .snapshot-container#referrers
    .snapshot-container#recent
    .snapshot-container#traffic-series
    .snapshot-container#articles

