extends ./layout

block css
  link(href='/css/viewers.css', rel='stylesheet')

block js
  script(src='/js/viewers.js')

block content
  #dashboard
    #title
      h1 How many visitors are on our sites right now?
    #viewers
    #chart
    #subtitle
      h2 What can you do to engage some more?
