
body {
font-family: "Arimo", serif;
font-size: 75px;
line-height: 1.2;
background-color: #ffee83;
color: #f04e55;
}

h2, .h2 {
font-size: 35px;
color: #3d97df;
font-weight: 700;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #f04e55;
}