body {
  color: #4F75CE; }

a, a:visited, a:active, a:hover {
  color: #FFC44F; }

.articles {
  position: relative; }

.article-container {
  height: 50px;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .article-container {
      padding-right: 10%;
      padding-left: 10%; } }
  .article-container .article {
    position: relative;
    width: 100%; }
    .article-container .article .authors {
      color: #4F75CE; }
