@import './base';

$loyal-color: #60BD68;
$return-color: #F17CB0;
$new-color: #DECF3F;

body {
  background-color: #2A2A30;
  color: white;
}

.host-loyalty-container {
  width: 33.33333333333%;
  height: 33.3333333333%;
  padding: 20px;
  position: absolute;
  top: 100%;
  right: 100%;
  display: flex;
  flex-direction: column;
}

.host-loyalty {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 0 .3em black;
  padding: 10px 0px;

  .source {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .rank {
    text-align: center;
    background-color: #c0c0c0;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 1px;
    width: 25px;
  }

}

.loyalty-stats {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;

  .stat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.loyal {
      .bar {
        background-color: $loyal-color;
      }
    }

    &.returning {
      .bar {
        background-color: $return-color;
      }
    }

    &.new {
      .bar {
        background-color: $new-color;
      }
    }

    .label, .percent {
      flex-grow: 1;
    }

    .bar-container {
      flex-grow: 5;
      position: relative;

      .bar {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        transition: height 100ms linear;
        -o-transition: height 100ms linear;
        -moz-transition: height 100ms linear;
        -webkit-transition: height 100ms linear;
      }
    }
  }
}

.about {
  width: 66.6666666%;
  position: absolute;
  top: 0;
  left: 33.333333333%;
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 70px;
    line-height: 50px;
    font-weight: 700;
    margin: 10px 0px;
  }

  .subtitle {
    margin: 15px 0px;
    padding: 0 120px 0 120px;
    font-size: 18px;
  }

  .legend {
    width: 80%;
    margin: 0 auto;
    padding-left: 90px;

    .item {
      font-size: 15px;
      line-height: 15px;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .swatch {
        height: 15px;
        width: 15px;
        margin-right: 10px;
      }

      &.loyal {
        .swatch {
          background-color: $loyal-color;
        }
      }

      &.returning {
        .swatch {
          background-color: $return-color;
        }
      }

      &.new {
        .swatch {
          background-color: $new-color;
        }
      }
    }
  }
}
