.freep {
  background-color: $freep;
}

.detroitnews {
  background-color: $detroitnews;
}

.lansingstatejournal {
  background-color: $lansingstatejournal;
}

.hometownlife {
  background-color: $hometownlife;
}

.battlecreekenquirer {
  background-color: $battlecreekenquirer;
}

.thetimesherald {
  background-color: $thetimesherald;
}

.livingstondaily {
  background-color: $livingstondaily;
}

/*.usatoday {
  background-color: $usatoday;
}*/
