@import 'base';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@define-placeholder small {
  font-size: 0.4em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  color: #e3eaed;
  background-color: $primary-color;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #e3eaed;
}

.small {
  @extend small;
}

.articles {
  display: flex;
  flex-direction: row;
}

.articleContainer {
  flex-grow: 12;
}

#totalReaders {
  flex-grow: 1;
}

.articleSummary li {
  margin: 10px;
}

.articleList {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  position: relative;
  .article {
    margin: 0;
    transition: all 1s ease;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 1px solid #233743;
    box-shadow: 0 1px 0 rgba(255,255,255,.05);
    padding: 10px;
    cursor: pointer;
    .readers {
      font-size: 1em;
      color: #96B8CB;
      width: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media(min-width: $screen-md) {
        font-size: 1.5em;
      }
    }
    .content {
      .source {
        border-radius: 5px;
        opacity: 0.7;
        max-width: 30px;
        margin-top: 5px;
        height: auto;
        @media(max-width: $screen-sm) {
          max-width: 15px;
        }
      }
      .titleInfo {
        margin-top: 10px;
        .title {
          @media(max-width: $screen-sm) {
            font-size: 0.8em;
            white-space: nowrap;
            margin-left: 15px;
          }
        }
        .info {
          @extend small;
          @media(max-width: $screen-md) {
            display: none;
          }
        }
      }
    }
  }
}

.animateArticle-enter {
  opacity: 0.01;
}

.animateArticle-enter.animateArticle-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.animateArticle-leave {
  opacity: 1;
}

.animateArticle-leave.animateArticle-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.overview {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1000;
  cursor: auto;
  background-color: #1f3442;
  padding: 0 20px 20px 20px;
  transition: 1s ease;
  .articleClose {
    cursor: pointer;
  }
  .articleTitle {
  }
  .articlePhoto {
    height: auto;
    border-radius: 5px;
  }
  .articleStats {
  }
  .articleSummary {
  }
}
