@font-face {
  font-family: 'Futura Today';
  src: url('../fonts/FuturaTodayNormal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Demibold';
  src: url('../fonts/FuturaTodayDemiBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Light';
  src: url('../fonts/FuturaTodayLight.otf');
  font-weight: thin;
  font-style: normal;
}

body {
  font-family: 'Futura Light';
}

.leaflet-container {
  font-family: 'Futura Light';
}
