@import 'bourbon';
@import 'neat';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

// http://www.colorcombos.com/color-scheme-6657.html
$primary-color: #2E4372; // blue
$info-color: #226666; // aquaish
$warning-color: #AA6C39; // brown
$success-color: #2D882D; // greenish
$danger-color: #AA3939; // red

$facebook-blue: #3B5998;
$twitter-blue: #00aced;

// Stole from bootstrap until we decide what we wanna do
$screen-md: 992px;
$screen-sm: 768px;
$mobile: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(min-width 992px 12);

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.container {
  margin: 0 10%;
}

.hidden {
  display: none;
}

/** Nav bar stuff */
$navbar-height: 60px;
$navbar-z-index: 10000;
$navbar-padding: 20px;

.navbar-button {
  line-height: $navbar-height / 3;
  padding-top: $navbar-height / 3;
  padding-bottom: $navbar-height / 3;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $navbar-z-index;

  &.show {
    .menu-toggle {
      .fa {
        @include transform(rotate(0deg));
      }
    }
  }

  a {
    text-decoration: none;
  }

  .menu-toggle {
    position: relative;
    top:0;
    left: 0;
    background: $primary-color;
    color: white;
    padding: 5px 10px;
    border-radius: 0px 0px 5px 0px;
    cursor: pointer;

    .fa {
      @include transform(rotate(90deg));
      @include transition(transform 250ms ease-in);
    }
  }

  .dashboards-container {
    position: absolute;
    width: 300px;
    left: -300px;
    border: 1px solid darken($primary-color, 10%);
    border-radius: 0px 5px 5px 0px;
    @include outer-container;

    .menu-header {
      background: $primary-color;
      color: $warning-color;
      padding: 5px;
    }

    .dashboards {
      border-top: 1px solid darken($primary-color, 10%);
      .option {
        @include row();
        background: $primary-color;
        text-align: center;
        color: white;
        padding: 10px;

        &:last-child {
          border-bottom-right-radius: 4px; // accounts for border
        }

        &:hover {
          background: $danger-color;
        }
      }
    }
  }
}
