@import './base';

body {
  background-color: $info-color;
  color: #fff;
  font-family: 'Arimo', sans-serif;
}

#title {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  padding: 20px;
}

#legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .source {
    font-size: 15px;
    line-height: 15px;
    margin: 2px;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .swatch {
      height: 15px;
      width: 10px;
    }

    p {
      font-size: 15px;
      margin: 0 2px;
    }

    &#freep {
      .swatch {
        background-color: $freep-color;
      }
    }

    &#detnews {
      .swatch {
        background-color: $detnews-color;
      }
    }

    &#lsj {
      .swatch {
        background-color: $lsj-color;
      }
    }

    &#pth {
      .swatch {
        background-color: $hometownlife-color;
      }
    }

    &#bce {
      .swatch {
        background-color: $battlecreek-color;
      }
    }

    &#liv {
      .swatch {
        background-color: $livingston-color;
      }
    }

    &#oe {
      .swatch  {
        background-color: $timesherald-color;
      }
    }
  }
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h1, h3 {
  text-align: right;
  margin-right: 30px;
}

.city-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.city {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 50%;
  height: 5%;
  position: absolute;
  transform: all 250ms linear;
  -o-transform: all 250ms linear;
  -moz-transform: all 250ms linear;
  -webkit-transform: all 250ms linear;
  top: 100%;
  left: 100%;

  .name, .total, .bar-container {
    position: relative;
    height: 100%;
    font-size: 18px;
    text-align: center;
  }

  .name {
    font-size: 15px;
    width: 20%;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
  }

  .total {
    width: 10%;
    line-height: 40px;
  }

  .bar-container {
    width: 70%;
  }

  .bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/ // TODO get it working with this
    border: 1px solid white;
    height: 80%;

    .bar-portion {
      position: relative;
      overflow: hidden;
      height: 100%;
      transition: width 150ms linear;
      -o-transition: width 150ms linear;
      -moz-transition: width 150ms linear;
      -webkit-transition: width 150ms linear;

      img {
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &.freep {
        background-color: $freep-color;
      }

      &.detroitnews {
        background-color: $detnews-color;
      }

      &.lansingstatejournal {
        background-color: $lsj-color;
      }

      &.hometownlife {
        background-color: $hometownlife-color;
      }

      &.battlecreekenquirer {
        background-color: $battlecreek-color;
      }

      &.thetimesherald {
        background-color: $timesherald-color;
      }

      &.livingstondaily {
        background-color: $livingston-color;
      }
    }

    img {
      height: 100%;
      position: relative;
    }
  }
}
