@import './base';

body {
  background-color: $info-color;
}

.city-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.city {
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 50%;
  height: 40px;

  .name, .total, .bar-container {
    position: relative;
    height: 100%;
    font-size: 15px;
    text-align: center;
  }

  .name {
    font-size: 15px;
    width: 20%;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .total {
    width: 10%;
    line-height: 40px;
  }

  .bar-container {
    width: 70%;
  }

  .bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/ // TODO get it working with this
    border: 1px solid white;
    height: 100%;

    .bar-portion {
      overflow: hidden;
      height: 100%;
      transition: width 150ms linear;
      -o-transition: width 150ms linear;
      -moz-transition: width 150ms linear;
      -webkit-transition: width 150ms linear;


      &.freep {
        background-color: $freep-color;
      }

      &.detroitnews {
        background-color: $detnews-color;
      }

      &.lansingstatejournal {
        background-color: $lsj-color;
      }

      &.hometownlife {
        background-color: $hometownlife-color;
      }

      &.battlecreekenquirer {
        background-color: $battlecreek-color;
      }

      &.thetimesherald {
        background-color: $timesherald-color;
      }

      &.livingstondaily {
        background-color: $livingston-color;
      }
    }

    img {
      height: 100%;
      position: relative;
    }
  }
}
