@import './base';

$city-freep: #2095F2; // dark blue
$city-detnews: #F34235; // red
$city-lsj: #FEEA3A; // green
$city-hometownlife: #B3E9F8; // sky blue
$city-battlecreek: #9800FE; // praple
$city-timesherald: #8AC249; // light blue
$city-livingston: #CD54B0; // neon for eric

body {
  background-color: $info-color;
  color: #fff;
  font-family: 'Arimo', sans-serif;
}

#title {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  padding: 20px;
}

#legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  .source {
    font-size: 15px;
    line-height: 15px;
    margin: 2px;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .swatch {
      height: 15px;
      width: 10px;
    }

    p {
      font-size: 15px;
      margin: 0 2px;
    }

    &#freep {
      .swatch {
        background-color: $city-freep;
      }
    }

    &#detnews {
      .swatch {
        background-color: $city-detnews;
      }
    }

    &#lsj {
      .swatch {
        background-color: $city-lsj;
      }
    }

    &#pth {
      .swatch {
        background-color: $city-timesherald;
      }
    }

    &#bce {
      .swatch {
        background-color: $city-battlecreek;
      }
    }

    &#liv {
      .swatch {
        background-color: $city-livingston;
      }
    }

    &#oe {
      .swatch  {
        background-color: $city-hometownlife;
      }
    }
  }
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h1, h3 {
  text-align: right;
  margin-right: 30px;
}

.city-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.city {
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  width: 50%;
  height: 4%;
  margin: .25% 0%;
  position: absolute;
  transform: all 250ms linear;
  -o-transform: all 250ms linear;
  -moz-transform: all 250ms linear;
  -webkit-transform: all 250ms linear;
  top: 100%;
  left: 100%;

  .name, .total, .bar-container {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
  }

  .name {
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
  }

  .total {
    min-width: 6%;
    background-color: #c0c0c0;
    border-radius: 10px;
    margin: 0 15px 0 15px;
    font-size: 18px;
  }

  .bar-container {
    width: 70%;
    height: 100%;
  }

  .bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/ // TODO get it working with this
    height: 100%;

    .bar-portion {
      position: relative;
      overflow: hidden;
      height: 100%;
      transition: width 150ms linear;
      -o-transition: width 150ms linear;
      -moz-transition: width 150ms linear;
      -webkit-transition: width 150ms linear;

      img {
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &.freep {
        background-color: $city-freep;
      }

      &.detroitnews {
        background-color: $city-detnews;
      }

      &.lansingstatejournal {
        background-color: $city-lsj;
      }

      &.hometownlife {
        background-color: $city-hometownlife;
      }

      &.battlecreekenquirer {
        background-color: $city-battlecreek;
      }

      &.thetimesherald {
        background-color: $city-timesherald;
      }

      &.livingstondaily {
        background-color: $city-livingston;
      }
    }

    img {
      height: 100%;
      position: relative;
    }
  }
}
