@import 'base';
@import '/react-datepicker/dist/react-datepicker.min.css';
// @import '../../../../node_modules/hint.css/src/hint.scss';

// Based on the michigan.com green color
// http://paletton.com/#uid=72E0u0kkCrqaRHdgcvHp7o6snj3
$michigan-com-green: #71bf44; // Green
$michigan-com-info: #349173; // turqouise...ish
$michigan-com-danger: #C94765; // Redish
$michigan-com-warning: #DA7D4E; // Orange

$z-index-hosts: 100;
$z-index-article-summary: $navbar-z-index * 2;

$stat-item-height: 50px;

body {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;

  &.summary-open {
    overflow: hidden;
  }
}

.option-select {
  text-transform: capitalize;
}

.host-container {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  float: left;
  margin-bottom: 10px;

  .host {
    width: 90%;
    margin: 0 auto;
    color: $michigan-com-green;
    background-color: white;
    border-radius: 20px;

    .host-title {
      width: 100%;
      margin-bottom: 10px;
      font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: $screen-sm) {
        font-size: 15px;
      }
    }

    .host-data-container {
      width: 100%;
      margin-bottom: 10px;
      padding: 20px;
    }
  }
}

/** Put all color-based things in here */
.host-container:nth-child(2n+1) {
  .host {
    background-color: $michigan-com-green;
    color: white;
    box-shadow: 0 0 3px black;
  }

  .top-article {
    border-bottom: 1px solid white;
  }
}

.host-container:nth-child(2n) {
  .host {
    background-color: white;
    color: $michigan-com-green;
  }

  .top-article {
    border-bottom: 1px solid $michigan-com-green;
  }
}

.stat-list-item, .stat-item {
  width: 100%;
  text-indent: 10px;
  text-align: center;
  height: $stat-item-height;
  line-height: $stat-item-height;

  .stat-content {
    height: $stat-item-height / 2;
    line-height: $stat-item-height / 2;
    position: relative;
    cursor: pointer;
  }

  .stat-name {
    height: $stat-item-height / 2;
    line-height: $stat-item-height / 2;
    color: $michigan-com-info;
    font-weight: bold;
  }

  .stat-value {
    height: $stat-item-height / 2;
    line-height: $stat-item-height / 2;
  }

  .delta {
    cursor: pointer;

    &.positive {
      /*color: $success-color;*/

      .fa-arrow-down {
        display: none;
      }
    }

    &.negative {
      /*color: $danger-color;*/

      .fa-arrow-up {
        display: none;
      }
    }
  }

  .popup {
    text-indent: 0;
    display: none;
    position: absolute;
    top: 135%;
    background-color: $michigan-com-info;
    color: white;
    box-shadow: 0 0 3px black;
    z-index: 10;
    border-radius: 5px;
    padding: 20px;

    &:before {
      position: absolute;
      top: -10px;
      left: 45%;
      width: 0;
      border-bottom: 10px solid $michigan-com-info;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    &.show {
      display: block;
    }
  }
}

.top-article {
  margin-bottom: 20px;

  &:last-child {
    border-bottom: none !important;
  }

  .article-quick-stats {
    height: $stat-item-height * 2;
    line-height: $stat-item-height * 2;
  }

  .article-title {
    width: 30%;
    margin: 0 5%;
    display: inline-block;
    float: left;

    @media (max-width: $screen-sm) {
      width: 90%;
    }
  }

  .article-quick-stats {
    width: 60%;
    display: inline-block;

    @media (max-width: $screen-sm) {
      width: 90%;
      margin: 10px 5%;
    }
  }

  .social-stats, .details-button {
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center;
    float: left;
  }


  .details-button {
    background-color: $michigan-com-info;
    color: white;
    box-shadow: 0 0 3px black;
    line-height: $stat-item-height;
    height: $stat-item-height;
    cursor: pointer;
    border-radius: 5px;
    @include transition(box-shadow 250ms linear);
    margin: 12.5% 0;

    &:hover {
      box-shadow: 0 0 3px black inset;
    }
  }

  .article-quick-stats {
    .left, .right {
      width: 50%;
      display: inline-block;
      height: 100%;
      float: left;
    }
  }

  .top-article-summary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: $z-index-article-summary;
  }
}

.social-stat {
  height: $stat-item-height;
  line-height: $stat-item-height;

  .social-icon, .stat-value {
    margin: 0% 5%;
    display: inline-block;
  }

  .social-icon {
    text-align: right;
  }

  .stat-value {
    text-align: left;
  }

  .fa-twitter {
    color: $twitter-blue;
  }

  .fa-facebook {
    color: $facebook-blue;
  }
}

.notes {
  position: relative;

  .notes-container {
    display: none;
    position: absolute;
    top: 115%;
    background: white;
    color: $michigan-com-green;
    z-index: 20;
    border: 1px solid $michigan-com-green;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0 0 3px black;
    @include transition(opacity 250ms ease-in);
  }

  &.show {
    .notes-container {
      opacity: 1;
      display: block;

    }

    .stat-name {
      .fa-caret-down {
        @include transform(rotate(180deg));
      }
    }
  }

  .stat-name {
    cursor: pointer;

    .fa-caret-down {
      @include transition(transform 250ms linear);
    }
  }
}
