@import 'base';

// font size ratio for tablet/phone icon
// different widths for tablet/phone icons. we want them to be the same size,
// so we make the font-size of the tablet icon adjusted to the $ratio
$ratio: 10.2813 / 6.84375;  // widths of two icons by default, tablet / mobile

$height-icon: 50px;
$font-size-phone: 50px;
$font-size-tablet: $font-size-phone / $ratio;

body {
  background-color: $primary-color;
  color: white;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.mobile-dashboard {
  h2 {
    text-align: center;
    color: $warning-color;
    font-size: 30px;
  }
}

.mobile-percentage {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 20px 10px;
  float: left;

  .type {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
  }

  .percentage {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: $warning-color;

    &:after {
      content: "%";
    }
  }
}

.icons-container {
  width: 80%;
  margin: 0 auto;
  height: $height-icon * 10;
  position: relative;
}

.icons {
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;


  .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 10%;
  }

  .icon {
    transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;

    &.active {
      color: #467A62;
      opacity: 1;
    }

    &.inactive {
      color: grey;
      opacity: .3;
    }
  }
}


