@import 'base';

// font size ratio for tablet/phone icon
// different widths for tablet/phone icons. we want them to be the same size,
// so we make the font-size of the tablet icon adjusted to the $ratio
$ratio: 10.2813 / 6.84375;  // widths of two icons by default, tablet / mobile

$height-icon: 50px;
$font-size-phone: 50px;
$font-size-tablet: $font-size-phone / $ratio;

body {
  background-color: $primary-color;
  color: white;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.mobile-dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    color: $warning-color;
    font-size: 30px;
  }
}

.mobile-percentage {
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 9;

  .type {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
  }

  .percentage {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: $warning-color;

    &:after {
      content: "%";
    }
  }
}

.battery-container {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0% 10%;

  @media (min-width: $screen-md) {
    padding: 0% 20%;
  }

  // I dont like this
  .padding {
    flex-grow: 1;
  }
}


.battery {
  width: 95%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  position: relative;


  @media (max-width: $screen-sm) {
    flex-grow: 1;
  }

  &:after {
    content: '';
    height: 40%;
    position: absolute;
    left: 100%;
    background-color: white;
    width: 5%;
    top: 30%;
    border-radius: 0px 10px 10px 0px;
  }

  .bar {
    flex-grow: 1;
    position: relative;
    display: block;
    height: 100%;
    background-color: #467A62;
    width: 0%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition: width 250ms linear;
    -o-transition: width 250ms linear;
    -moz-transition: width 250ms linear;
    -webkit-transition: width 250ms linear;
  }
}

.icons-container {
  width: 80%;
  margin: 0 auto;
  height: $height-icon * 10;
  position: relative;
}

.icons {
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;


  .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 10%;
  }

  .icon {
    transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;

    &.active {
      color: #467A62;
      opacity: 1;
    }

    &.inactive {
      color: grey;
      opacity: .3;
    }
  }
}


