@import 'base';

.overview {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1000;
  cursor: auto;
  background-color: #1f3442;
  padding: 0 20px 20px 20px;
  transition: 1s ease;
  .articleClose {
    cursor: pointer;
    @include span-columns(1 of 6);
  }
  .articleTitle {
    @include span-columns(6 of 6);
  }
  .articlePhoto {
    @include span-columns(2 of 6);
    height: auto;
    border-radius: 5px;
  }
  .articleStats {
    @include span-columns(3 of 6);
  }
  .articleSummary {
    @include span-columns(6 of 6);
  }
}
