@import 'base';
@import './components/summary-container';
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  margin: 0;
  transition: all 3s ease;
  position: absolute;
  box-sizing: border-box;
  //top: 100%;
}

body {
  // color: $primary-color;
}

a, a:visited, a:active, a:hover {
  color: $primary-color;
}

.content-container {
  @include row();
  padding: 0% 2%;

  .summary {
    @media (max-width: $screen-md) {
      @include row();
    }

    @media (min-width: $screen-md) {
      @include span-columns(2);
    }
    .total-readers {
      @include row();

      div {
        @include span-columns(6);
      }
    }
  }
}

$article-height: 50px;
$article-border: 1px;
#articles {
  position: relative;
  @media (max-width: $screen-md) {
    @include row();
  }

  @media (min-width: $screen-md) {
    @include span-columns(10);
  }
  // margin: 0 10%;

  .articleList {
    height: 1000px;
    //position: absolute;
    top: 100%;
    width: 100%;
    margin-bottom: 10px;

    .article {
      //position: relative;
      width: 100%;
      height: $article-height + $article-border;
      border: 1px solid #eee;
      cursor: pointer;

      &:hover {

      }

      .readers {
        text-align: center;
        padding: 5px;
        background: $danger-color;
        color: #eee;
        height: 100%;
        padding: 10px;
        font-size: 20px;
        @include span-columns(2);
      }

      .article-title {
        @include span-columns(5);

        .title {
          @include row();

          max-height: $article-height;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .authors {
          @include row();
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:before {
            content: 'By ';
          }
        }
      }
    }
  }
}

.button-container {
  width: 100%;
  text-align: center;

  &.center {

  }
}

.button {
  text-align: center;
  padding: 15px;
  text-decoration: none;

  &.primary {
    background: $primary-color;
    color: white;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
  &.info {
    background: $info-color
  }
}
