@import './base';

body {
  font-family: 'Arimo';
  background-color: #D3D3D3;
}

h1 {
  text-align: center;
  color: #AA4639;
  font-size: 50px;

  &.first {
    margin: 40px 0px;
  }
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  @media (max-width: $screen-sm) {
    width: 90%;
  }
}

#gauge {
  margin: 50px 0px;
}

.needle {
  path {
    transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
  }
}
